<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <!-- <div class="hamIcon" (click)="i = !i" *ngIf="i==false">
        <div></div>
        <div></div>
        <div></div>
    </div> -->
    <!-- <img src="assets/ArrowIcon.svg" class="arrowIcon" (click)="i = !i" alt="" *ngIf="i==true"> -->
    <!-- <button class="btn2 btn-secondary" href="#">Free estimate</button> -->
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <span>
                <a class="nav-item">AR</a>|<a class="nav-item">EN</a>
            </span>
            <li class="nav-item">
                <button class="btn btn-secondary" href="#">اتصل بنا</button>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">اعمالنا</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">المدونة</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">خدماتنا</a>
            </li>
        </ul>
        <!-- <ul class="navbar-nav2" *ngIf="i==true">
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">Homepage</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">How we work</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" routerLink="/career">Career</a>
            </li>
            <li class="nav-item">
                <a style="cursor: pointer;" class="nav-link text-center" routerLink="/contact">Contact</a>
            </li>
            <span class="lang">
                <a class="nav-item">AR</a>|<a class="nav-item">EN</a>
            </span>
            <address class="contactContainer">
                <h5>
                    PHONE
                    <span class="conInfo">
                        <a href="https:tel:+48603335731">+48603335731</a>
                    </span>
                </h5>
                <h5>
                    EMAIL
                    <span class="conInfo">
                        <a href="mailto: office@gbxsoft.com">office@gbxsoft.com</a>
                    </span>
                </h5>
            </address>
        </ul> -->
    </div>
    <a href="#" class="navbar-brand">
        <img src="assets/logo.svg" class="img-fluid image_logo">
    </a>
</nav>