<footer class="text-white toz">
    <div class="py-3">
        <div class="row d-flex justify-content-around">
            <div class="col-lg-3 pb-2">
                <img src="assets/logo.svg">
            </div>
            <div class="col-lg-3 col-sm-6 pb-2">
                <h4>الخدمات</h4>
                <ul>
                    <li><a href="#">تخزين معلومات</a></li>
                    <li><a href="#">تصميم معتمد</a></li>
                    <li><a href="#">انشاء تطبيق</a></li>
                    <li><a href="#">انشاء موقع</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 pb-2">
                <h4>نقدم لك</h4>
                <ul>
                    <li><a href="#">تخزين معلومات</a></li>
                    <li><a href="#">تصميم معتمد</a></li>
                    <li><a href="#">انشاء تطبيق</a></li>
                    <li><a href="#">انشاء موقع</a></li>
                    <li><a href="#">اتصل بنا</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 pb-2">
                <p>ابحث عن افضل تصميم<br> اشترك عبر البريد الالكتروني
                </p>
            </div>
        </div>
    </div>
    <div class="second row">
        <div class="cola col-lg-3">
            <ul>
                <a href="https://www.facebook.com/login.php"><i class="fab fa-behance"></i></a>
                <a href="https://mobile.twitter.com/login"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/accounts/login/"><i class="fab fa-facebook-f"></i></a>
            </ul>
        </div>
        <div class="dis col-lg-6">
            <ul>
                <li><a href="#">إرشادات</a></li>
                <li><a href="#">تعليمات الاستخدام</a></li>
                <li><a href="#">شروط الشراء</a></li>
                <li><a href="">سياسة الخصوصية</a></li>
            </ul>
            <br>
            <hr class="hline">
            <br>
            <p>&copy;Restart Technology جميع الحقوق محفوظة</p>
        </div>
        <div class="col-lg-3 pr-0">
            <button>
                <img src="assets/up.svg">
            </button>
        </div>
    </div>
</footer>