<section id="sone">
    <div class="lineTop"></div>
    <div class="service">
        <div class="serviceWrapper">
            <h2 class="header">نحن نطور و نقدم</h2>
        </div>
    </div>
    <div class="mainWrapper">
        <div class="serviceBox">
            <div class="staticWrapper">
                <div>
                    <img src="assets/sr1.svg" class="lazy-load">
                </div>
                <h3>
                    تخزين معلومات
                </h3>
                <div class="square">
                    <p>حلو جداااااااااااااااااااااااااااااااااا</p>
                </div>
            </div>
            <ul>
                <li>"User-Friendly system"</li>
                <li>"Tailored to particular needs"</li>
                <li>"Aesthetic look"</li>
            </ul>
            <a href="#">
                <button class="row">
                    <div class="col"><h6>المزيد</h6></div>
                    <div class="col"><img src="assets/ar.svg"></div>
                </button>
            </a>
        </div>
        <div class="serviceBox">
            <div class="staticWrapper">
                <div>
                    <img src="assets/sr2.svg" class="lazy-load">
                </div>
                <h3>
                    تصميم معتمد
                </h3>
                <div class="square">
                    <p>حلو جداااااااااااااااااااااااااااااااااا</p>
                </div>
            </div>
            <ul>
                <li>Functional applications for Apple devices</li>
                <li>High-performance applications</li>
                <li>Universal solutions</li>
            </ul>
            <a href="#">
                <button class="row">
                    <div class="col"><h6>المزيد</h6></div>
                    <div class="col"><img src="assets/ar.svg"></div>
                </button>
            </a>
        </div>
        <div class="serviceBox">
            <div class="staticWrapper">
                <div>
                    <img src="assets/sr3.svg" class="lazy-load">
                </div>
                <h3>
                    انشاء تطبيق
                </h3>
                <div class="square">
                    <p>حلو جداااااااااااااااااااااااااااااااااا</p>
                </div>
            </div>
            <ul>
                <li>Individual solutions suited to your goals</li>
                <li>Diverse tools for creating source codes</li>
            </ul>
            <a href="#">
                <button class="row">
                    <div class="col"><h6>المزيد</h6></div>
                    <div class="col"><img src="assets/ar.svg"></div>
                </button>
            </a>
        </div>
        <div class="serviceBox">
            <div class="staticWrapper">
                <div>
                    <img src="assets/sr4.svg" class="lazy-load">
                </div>
                <h3>
                    انشاء موقع
                </h3>
                <div class="square">
                    <p>حلو جداااااااااااااااااااااااااااااااااا</p>
                </div>
            </div>
            <ul>
                <li>Better matching to the needs</li>
                <li>Lower costs of software development</li>
            </ul>
            <a href="#">
                <button class="row">
                    <div class="col"><h6>المزيد</h6></div>
                    <div class="col"><img src="assets/ar.svg"></div>
                </button>
            </a>
        </div>
    </div>
</section>